.card-title {
  font-size: 35px;
  color: black;
  font-weight: bold;
  text-align: center;
}

.card-list-items {
  font-size: 25px;
}

hr {
  border: 0;
  height: 2px;
  background-color: #0000001a;
  margin-top: 10px;
}

.card-body {
  font-size: 25px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  box-sizing: border-box;
  padding: 1rem;
  background-color: rgba(245, 235, 235, 0.856);
}

.card-img-top {
  border-radius: 10px;
}

@media (max-width: 1199px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
}
